<div class="header__topbar {{ section.settings.color-scheme }}">
  <div class="container {{ section.settings.text-align }}">
    <p class="h5">{{ section.settings['text-content'] }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Announcement bar",
  "tag": "div",
  "class": "announcement-bar",
  "settings": [
    {
      "type": "text",
      "id": "text-content",
      "label": "Content",
      "default": "Welcome to store"
    },
    {
      "type": "select",
      "id": "text-align",
      "label": "Text align",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "select",
      "id": "color-scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "background-default",
          "label": "Background default"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        }
      ],
      "default": "background-default"
    }
  ],
  "presets": [
    {
      "name": "Annoucement"
    }
  ]
}
{% endschema %}
