<div class="page__container background-default pd-section">
  <div class="container">
    <div class="form__container">
      {% form 'contact' %}
        {{ form.errors | default_errors }}
        <div class="row">
          <div class="col" style="--w-md: 6;">
            <div class="w-100 form__input">
              <input
                class="btn w-100"
                type="text"
                placeholder="Name"
                name="contact[last_name]"
                value="{{ form.author }}"
              >
            </div>
          </div>
          <div class="col" style="--w-md: 6;">
            <div class="w-100 form__input">
              <input
                class="btn w-100"
                type="email"
                placeholder="Email"
                name="contact[email]"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" style="--w-md: 12;">
            <div class="w-100 form__input">
              <input
                class="btn w-100"
                type="text"
                placeholder="Phone"
                name="contact[phone]"
                value="{{ form.phone }}"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" style="--w-md: 12;">
            <div class="w-100 form__input">
              <textarea
                class="btn w-100"
                placeholder="Comment"
                name="contact[body]"
                id=""
                rows="5"
              >{{ form.body }}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn comment__btn">Send</button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact form",
  "tag": "section",
  "class": "contact",
  "settings": [],
  "presets": [
    {
      "name": "Contact form"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header"] 
  }
}
{% endschema %}
