<div class="container pd-section">
  <div class="image-text__container d-grid">
    <div class="image-text__media">
      {% if section.settings['image-item'] != blank %}
        <img class="w-100 h-100 d-block object-fit-cover" src="{{ section.settings.image-item | img_url: '2000x' }}" alt="image text">
      {% else %}
        {% render 'image-placeholder' %}
      {% endif %}
    </div>
    <div class="image-text__text w-100 h-100 d-flex align-center">
      <div class="image-text__content">
        <h2 class="image-text__title h2">Image text</h2>
        <p class="image-text__context h4">Nội dung cần hiển thị</p>
        <a href="#" class="image-text__btn btn btn__outline">Button</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "class": "image-with-text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image-item",
      "label": "Image"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Image text"
        },
        {
          "type": "select",
          "id": "heading-size",
          "options": [
            {
              "value": "h1",
              "label": "large"
            },
            {
              "value": "h2",
              "label": "medium"
            },
            {
              "value": "h3",
              "label": "small"
            }
          ],
          "default": "h1",
          "label": "Heading size"
        }
      ]
    },
    {
      "name": "Description",
      "type": "description",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "description",
          "label": "Description",
          "default": "Give customers details about the banner image(s) or content on the template."
        }
      ]
    },
    {
      "name": "Buttons",
      "type": "button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image text"
    }
  ]
}
{% endschema %}
