<!-- start detail product -->
<div class="container pd-section">
  <div class="row">
    <div class="col" style="--w-lg:8;">
      <div class="product-detail__media d-flex p-relative w-100">
        <img class="product-detail__zoom cursor-pointer p-absolute" src="{{ 'icon-zoom.svg' | asset_url }}" alt="zoom">
        <div class="media__item media__item--big w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail1.jpg" alt="picture">
        </div>
        <div class="media__item w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail2.jpg" alt="picture">
        </div>
        <div class="media__item w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail3.jpg" alt="picture">
        </div>
        <div class="media__item w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail4.jpg" alt="picture">
        </div>
        <div class="media__item w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail5.jpg" alt="picture">
        </div>
        <div class="media__item w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail6.jpg" alt="picture">
        </div>
        <div class="media__item w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail7.jpg" alt="picture">
        </div>
        <div class="media__item w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail8.jpg" alt="picture">
        </div>
        <div class="media__item w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail9.jpg" alt="picture">
        </div>
        <div class="media__item media__item--big w-100">
          <img class="w-100 d-block object-fit-cover" src="./assets/images/product/product-detail10.jpg" alt="picture">
        </div>
      </div>
      <div class="product-detail__arrow lg-none d-flex justify-center">
        <div class="arrow__container d-flex align-center space-between">
          <button class="arrow__btn d-flex align-center justify-center">
            <img src="./assets/images/icon/chevron-left.svg" alt="">
          </button>
          <span class="arrow__order">1/10</span>
          <button class="arrow__btn d-flex align-center justify-center">
            <img src="./assets/images/icon/chevron-right.svg" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="col" style="--w-lg:4;">
      <div class="product-detail__info">
        <h1 class="product-detail__name heading-2">Brick</h1>
        <span class="product-detail__price d-block">$385.00 CAD</span>
        <div class="product-detail__color">
          <h3>Color</h3>
          <div class="color__items">
            <button class="color__item btn active">Cashmere Rose</button>
            <button class="color__item btn">Chocolate</button>
            <button class="color__item btn">Jade</button>
            <button class="color__item btn">Denim</button>
            <button class="color__item btn">Dry Rose</button>
            <button class="color__item btn">Earth</button>
          </div>
        </div>
        <div class="product-detail__quantity">
          <h3>Quantity</h3>
          <div class="select__number p-relative">
            <button class="select__number--minus cursor-pointer p-absolute">
              <img src="./assets/images/icon/minus.svg" alt="">
            </button>
            <input type="text" value="1" class="select__number--value heading-6 w-100 h-100">
            <button class="select__number--plus cursor-pointer p-absolute">
              <img src="./assets/images/icon/plus.svg" alt="">
            </button>
          </div>
        </div>
        <button class="btn addcart__btn w-100">Add to cart</button>
        <button class="btn buy__btn w-100">Buy it now</button>

        <p class="product-detail__context heading-4">
          Inspired by the structural boxy form and shape of a brick, which lends its name, the bag is perfectly sized
          for your everyday essentials, from a large phone to your wallet and lipstick.
        </p>
        <div class="product-detail__describe">
          <details class="describe__item">
            <summary class="describe__summary d-flex align-center space-between p-relative">
              <div class="d-flex align-center">
                <img class="describe-icon" src="./assets/images/icon/materials.svg" alt=""> Materials
              </div>
              <div class="describe__icon--action d-flex align-center">
                <img class="icon-open d-block" src="./assets/images/icon/icon-chevron-down.svg" alt="">
                <img class="icon-close d-none" src="./assets/images/icon/chevron-up.svg" alt="">
              </div>
            </summary>
            <p class="describe__context heading-4">
              Hand-crafted from Italian cow leather. Ultrasuede interior. Comes with a detachable and adjustable
              shoulder strap.
            </p>
          </details>
          <details class="describe__item">
            <summary class="describe__summary d-flex align-center space-between p-relative">
              <div class="d-flex align-center">
                <img class="describe-icon" src="./assets/images/icon/ruler.svg" alt=""> Dimensions
              </div>
              <div class="describe__icon--action d-flex align-center">
                <img class="d-block" src="./assets/images/icon/icon-chevron-down.svg" alt="">
                <img class="d-none" src="./assets/images/icon/chevron-up.svg" alt="">
              </div>
            </summary>
            <p class="describe__context heading-4">
              Hand-crafted from Italian cow leather. Ultrasuede interior. Comes with a detachable and adjustable
              shoulder strap.
            </p>
          </details>
          <details class="describe__item">
            <summary class="describe__summary d-flex align-center space-between p-relative">
              <div class="d-flex align-center">
                <img class="describe-icon" src="./assets/images/icon/heart.svg" alt=""> Care Instructions
              </div>
              <div class="describe__icon--action d-flex align-center">
                <img class="d-block" src="./assets/images/icon/icon-chevron-down.svg" alt="">
                <img class="d-none" src="./assets/images/icon/chevron-up.svg" alt="">
              </div>
            </summary>
            <p class="describe__context heading-4">
              Hand-crafted from Italian cow leather. Ultrasuede interior. Comes with a detachable and adjustable
              shoulder strap.
            </p>
          </details>
          <div class="describe__item describe__item--share">
            <div class="d-flex align-center">
              <img class="describe-icon" src="./assets/images/icon/share.svg" alt="">
              Share
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end detail product -->

.{% schema %}
    {
        "name": "Product infomation",
        "tag": "section",
        "class": "product-detail",
        "settings": [

        ]
    }
{% endschema %}