:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #7D7D7D;
    --smooth: all 0.3s ease-in;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Assistant', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

body.hidden {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
.h8,
.h9
{
    font-family: 'Assistant';
    font-weight: 400;
    line-height: 1.3;
}

h1, 
.h1 {
    font-size: 4rem;
}

h2, 
.h2 {
    font-size: 3rem;
}

h3, 
.h3 {
    font-size: 1.7rem;
}

h4, 
.h4 {
    font-size: 1.6rem;
    letter-spacing: 0.04em;
    line-height: 1.72;
}

h5, 
.h5 {
    font-size: 1.4rem;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

h6, 
.h6 {
    font-size: 1.3rem;
    letter-spacing: 0.03em;
}

.h7 {
    font-size: 1.8rem;
    line-height: 0.83;
    font-weight: 600;
    letter-spacing: 0.04em;
}

.h8 {
    font-size: 2rem;
    line-height: 1.3;
}

.h9 {
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: 0.06em;
}

.btn {
    font-family: 'Assistant';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 0.9375;
    letter-spacing: 0.04em;
    padding: 15px;
    display: inline-block;
}

.btn__link {
  border: none;
  padding: 15px 0;
  text-decoration: revert !important;
  background-color: transparent;
  color: var(--color-txt);
}

.btn__outline {
  text-decoration: none;
  background-color: transparent;
  border: solid 1px var(--color-border);
  color: var(--color-txt);
}

.btn__solid {
  text-decoration: none;
  background-color: var(--color-txt);
  color: var(--color-bg)!important;
  border: solid 1px var(--color-txt);
}

/* === image ratio === */
.adapt-image {
    aspect-ratio: auto;
}

.portrait-image {
    aspect-ratio: 3/4;
}

.small-image {
    aspect-ratio: 4/3;
}

.circle-image {
    aspect-ratio: 1;
    border-radius: 50%;
}

.medium-image {
    aspect-ratio: 1
}

.large-image {
    aspect-ratio: 3/4
}

/* === image ratio 2 === */
.image-small {
    aspect-ratio: 16/9;
}

.image-medium {
    aspect-ratio: 3/2;
}

.image-large {
    aspect-ratio: 4/3;
}

/* === image placeholder === */
.img__placeholder svg{
    height: 100%;
    width: 100%;
}

.img__placeholder--pd svg {
    border: solid 1px #ccc;
}

/* === header === */
.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: #e1e3e5 0px 1px 0px 0px;
    background-color: var(--color-bg);
}

.header__topbar {
    background-color: var(--color-bg);
    color: var(--color-txt);
    box-shadow: inset 0px -1px 0px #E1E3E5;
}

.header__topbar p {
    margin: 0;
    padding: 8px;
}

.header .container {
    position: relative;
    top: 0;
    z-index: 10;
    background-color: var(--color-bg);
}

.header__container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "icons logo action";
}


.navbar__icons {
    grid-area: icons;
}

.header__logo {
   grid-area: logo;
}


.header__nav {
    grid-area: nav;
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;
    width: calc(100vw - 40px);
    background-color: var(--color-bg);
    flex-direction: column;
    transition: var(--smooth);
    transform: translateX(-100%);
}

.header__nav.active {
    transform: translateX(0);
    transition: var(--smooth);
}

.header-nav-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    opacity: 0;
}

.header-nav-overlay.open {
    z-index: 8;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    opacity: 1;
}

.nav__list {
    margin: 0;
    padding: 0;
    margin-top: 9px;
    list-style: none;
}

.nav__item {
    padding: 5px 0;
}


.nav__item .nav__anchor {
    text-decoration: none;
    line-height: 40px;
    padding: 0 32px;
    color: var(--color-txt);
}

.nav__item .nav__anchor:hover {
    background-color: var(--background-1);
}

.header__subnav {
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    margin-top: 9px;
    list-style: none;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    opacity: 0;
    transition: var(--smooth);
}

.nav__items.open .header__subnav {
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
    z-index: 11;
}

.header__subnav .nav__anchor {
    text-decoration: none;
    line-height: 40px;
    padding: 0 32px;
    color: var(--color-txt);
}

.svg__icon {
    filter: var(--color-svg);
}

.header__action {
    grid-area: action;
    gap: 22px;
}

.header__footer {
    padding: 32px;
}

.person-login {
    margin-bottom: 40px;
}

.person-login span {
    margin-left: 8px;
}

.icon-cart {
    width: 40px;
    height: 40px;
}

.cart-count {
    right: 3px;
    bottom: 3px;
    width: 17px;
    height: 17px;
    background-color: var(--color-txt);
    color: var(--color-bg);
    border-radius: 50%;
}

/* menu button */
.header__btn {
    width: 82px;
    
}

.navbar__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    z-index: 6;
    transition: var(--smooth);
}
  
.navbar__icon {
    width: 18.5px;
    height: 1px;
    background-color: var(--color-txt);
    border-radius: 0px;
    position: relative;
    transition: var(--smooth);
}
  
.navbar__icon:before,
.navbar__icon:after {
    content: "";
    position: absolute;
    width: 18.5px;
    height: 1px;
    background-color: var(--color-txt);
    border-radius: 0px;
    transition: var(--smooth);
}
  
.navbar__icon:before {
    transform: translateY(-8px);
}
  
.navbar__icon:after {
    transform: translateY(8px);
}
  
/* button animation */
.open .navbar__icon {
    transform: translateX(-50px);
    background: transparent;
}
  
.open .navbar__icon:before {
    transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon:after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* === social media === */
.social__items {
    margin: 0;
    padding: 0;
    gap: 24px;
    list-style: none;
}

.social__item a {
    padding: 12px 0;
}


/* === banner === */
.image__banner {
    display: block;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.image__item+.image__item {
    right: 0;
    left: auto;
}

.banner__container {
    padding: 50px 0;
}

.banner__box.banner__small {
    min-height: 280px;
}

.banner__box.banner__medium {
    min-height: 340px;
}

.banner__box.banner__large {
    min-height: 390px;
}

.banner__overlay {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.banner__content {
    padding: 40px;
    max-width: 464px;
}

.banner__heading {
    margin: 0;
}

.banner__description {
    display: block;
    margin-top: 10px;
    opacity: 0.75;
}

.banner__btn {
    margin-top: 10px;
    text-decoration: none;
    border: solid 1px #333;
}

/* option content banner */
.content__top-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.content__top-center {
    align-items: flex-start;
    justify-content: center;
}

.content__top-right {
    align-items: flex-start;
    justify-content: flex-end;
}

.content__middle-left {
    align-items: center;
    justify-content: flex-start;
}

.content__middle-center {
    align-items: center;
    justify-content: center;
}

.content__middle-right {
    align-items: center;
    justify-content: flex-end;
}

.content__bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
}

.content__bottom-center {
    align-items: flex-end;
    justify-content: center;
}

.content__bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}

/* product */
.product-list {
    background-color: var(--color-bg);
}

.product__title {
    margin-bottom: 25px;
    color: var(--color-txt);
}

.product__title h2 {
    margin: 0;
}

.product__title p {
    margin: 0;
    opacity: 0.75;
    margin-top: var(--vertical-space);
}

.product-list a {
    text-decoration: none;
}

.product-list .row {
    gap: var(--vertical-space) 0;
} 

.product__image {
    overflow: hidden;
}

.product__image img {
    transition: all .5s ease;

    transition-duration: 0.5s;
    /* Safari */
    -webkit-transition-duration: 0.5s; 
    /* Mozilla Firefox */
    -moz-transition-duration: 0.5s; 
    /* Opera */
    -o-transition-duration: 0.5s;
    /* IE 9 */
    -ms-transition-duration: 0.5s;
}
 
.product__card {
    transition: all .5s ease;
    background-color: var(--color-bg);
}

.product__card:hover .product__image img {
    transform: scale(1.1);
    transition: all .5s ease;
        -webkit-transform: scale(1.1); 
        -moz-transform: scale(1.1); 
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
    cursor: pointer; 
}


.product-card .product__info {
    padding: var(--vertical-space);
}

.product__card a:hover {
    text-decoration: revert;
}

.product__sale {
    left: 8px;
    bottom: 8px;
    padding: 4px 12px;
    color: var(--color-white);
    background-color: var(--accent-2);
    border-radius: 99px;
}

.product__name {
    margin: 0;
    margin-top: 4px;
    color: var(--color-txt);
}

.product__price {
    word-break: break-all;
    flex-wrap: wrap;
    color: var(--color-txt);
}

.product__price--old {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 10px;
    color: var(--color-txt);
}

.product__heading {
    margin: 0;
    margin-bottom: calc(24px - var(--gutter) * 2);
}

.product__btn {
    margin: 0 13px 10px 13px;
    background-color: transparent;
    color: var(--color-txt);
    border: solid 1px var(--color-border);
}

.product__btn:hover {
    cursor: pointer;
}

.product-standard .product__btn {
    margin: 0 !important;
    margin-bottom: 10px !important;
}

.product__placeholder {
    padding: 13px 10px;
}

/* style image */
.adapt-image {

}

.portrait-image {
    aspect-ratio: 3/4;
}

.square-image {
    aspect-ratio: 1;
}

/* .btn__view--all {
    margin-top: var(--vertical-space);
} */

/* === image with text === */

.image-text__container {
    flex-wrap: wrap;
    background-color: var(--color-bg);
}

.image-text__text {
    padding: 32px;
    color: var(--color-txt)
}

.image-text__title {
    margin: 0;
    margin-bottom: 16px;
}

.image-text__context {
    opacity: 0.75;
    margin: 0;
    margin-bottom: 16px;
}

.image-text__btn {
    color: var(--color-txt);
}

/* collage */
.collage__heading {
    margin: 0;
    margin-bottom: 24px;
}

.collage__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.collage__item--large {
    grid-column: span 2;
}

.collage__content {
    width: 100%;
    padding: 14px 24px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: var(--color-bg);
}

.collage__content h3 {
    margin: 0;
}

.collage__content a {
    text-decoration: none;
    color: var(--color-txt);
}

.collage__item--new {
    gap: 10px;
}


/* === Multicolumn === */
.mutilcolumn__container {
    background-color: var(--color-bg);
}

.multicolumn__title {
    margin: 0;
    color: var(--color-txt);
}

.column__items {
    row-gap: var(--vertical-space);
}

.column__item {
    padding: 16px;
}

.background-primary {
    background: var(--color-bg) linear-gradient( var(--color-bg-opacity), var(--color-bg-opacity));
}

.column__image {margin-bottom: 16px;}

.column__image img{
    transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
}

.column__heading {
    margin: 0;
    margin-bottom: 16px;
    color: var(--color-txt)
}

.column__context {
    opacity: 0.75;
    margin: 0;
    margin-top: var(--vertical-space);
    color: var(--color-txt)
}

.column__link {
    text-decoration: none;
    color: var(--color-txt);
    margin-top: 16px;
}

/* === email signup === */
.email-signup__container {
    background-color: var(--color-bg);
}

.email-signup__heading {
    margin: 0;
    color: var(--color-txt);
}

.email-signup__discription {
    margin: 0;
    opacity: .75;
    color: var(--color-txt);
    margin-top: 20px;
}

.email-signup__form {
    margin-top: 20px;
}

.email-signup__form .form__container {
    margin: 0;
    max-width: 360px;
}

.form__container form {
    margin: 0;
}

.email-signup__input {
    background-color: transparent;
    border: solid 1px var(--color-border);
    height: 47px;
    color: var(--color-txt);
}

.icon__input {
    cursor: pointer;
    border: none;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

/* select number */
.select__number {
    width: 138px;
    height: 44px;
    border: none;
}
.select__number--minus,
.select__number--plus {
    padding: 0;
    width: 42px;
    height: 42px;
    border: none;
    background-color: transparent;
}

.select__number--minus {
    top: 0;
    left: 0;
    height: 100%;
}

.select__number--plus {
    top: 0;
    right: 0;
    height: 100%;
}

.select__number--value {
    text-align: center;
    border: none;
    color: var(--color-gray);
    height: 100%;
    border-radius: var(--btn-radius);
    border: 1px solid #D0D0D0;
}

/* === banner collection === */
.banner-collection__container {
    background-color: var(--color-bg);
} 

.banner-collection__wrap {
    margin: 25px 0;
} 

.banner-collection__title {
    color: var(--color-txt);
    margin: 0;
} 

.banner-collection__description {
    color: var(--color-txt);
} 

.banner-collection__image {
    top: 0;
    left: 0;
    z-index: -1;
}

/* === product detail === */


/* === footer === */
.footer__contaier {
    background-color: var(--color-bg);
    box-shadow: inset 0px 1px 0px #E1E3E5;
}

.footer__top {

}

.footer__bottom {
    box-shadow: inset 0px 1px 0px #E1E3E5;
} 

.footer__blocks {

}

.footer__block {

}

.block__heading {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.16;
    margin: 0;
    margin-bottom: 16px;
    color: var(--color-txt);
}

.list__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    padding: 8px 0;
    color: var(--color-txt);
}

.list__item p {
    margin: 0;
}


.footer__anchor {
    text-decoration: none;
    color: var(--color-txt);
    display: inline-block;
}

.footer__logo {
    max-width: min(100%, 100px);
    margin-bottom: 20px;
}


.footer .social__items {
    margin-top: 24px;
    justify-content: center;
}

.footer__select-box {
    justify-content: center;
    gap: 24px;
}

.select__label {
    opacity: 75%;
}

.select__box select {
    margin-top: 12px;
    padding-right: 40px;
    height: 47px;
    font-size: 13px;
    opacity: 75%;
    outline: none;
    letter-spacing: 0.03em;
    background-color: var(--color-bg);
    color: var(--color-txt);
    border: solid 1px var(--color-border);
}

.footer__listpay {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    gap: 4px;
}

.footer__copy-right {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--color-txt);
}

/* === product detail === */
.product-detail__container {

}

.product-detail__media {

}

.media__items {
    gap: var(--vertical-space);
    overflow: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.media__items::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.media__item {
    min-width: 100%;
}

.slide-control__slide {
    width: 138px;
    height: 44px;
    border: none;
}
.slide-control__slide--prev,
.slide-control__slide--next {
    padding: 0;
    width: 42px;
    height: 42px;
    border: none;
    background-color: transparent;
}

.slide-control__slide--prev {
    top: 0;
    left: 0;
    height: 100%;
}

.slide-control__slide--next {
    top: 0;
    right: 0;
    height: 100%;
}

.slide-control__slide--value {
    text-align: center;
    border: none;
    color: var(--color-gray);
    height: 100%;
    border-radius: var(--btn-radius);
}

.product-detail__info {

}

.product-detail__name {
    margin: 0;
    margin-bottom: 16px;
    font-size: 3rem;
    line-height: 1.3;
}

.product-detail__price {
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 16px;
}

.product-detail__variant {
    margin-bottom: 16px;
}

.product-detail__variant--title {
    margin: 0;
    margin-bottom: 12px;
    color: var(--color-txt);
}

.product-detail__variant--items {
    gap: 8px;
}

.product-detail__variant--item {
    font-size: 1.3rem;
    padding: 8px 12px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    border-radius: 99px;
    border: solid 1px var(--color-txt);
    color: var(--color-txt);
    background-color: var(--color-bg);
}

.custom-radio {
    display: none;
}

.custom-label {

}

.quantity__heading {
    margin: 0;
    margin-bottom: 13px;
}

.product-detail__addtocart {
    color: var(--color-txt);
    border: solid 1px var(--color-txt);
    background-color: var(--color-bg);
    margin-top: 8px;
}

.product-detail__buynow {
    margin-top: 8px;
    color: var(--color-bg);
    border: solid 1px var(--color-txt);
    background-color: var(--color-txt);
}

.icon-zoom {
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.describe__item {
    border-top: solid 1px var(--gray-light);
    padding-top: 16px;
    padding-bottom: 16px;
}

.describe__item--share {
    padding-bottom: 0;
}

.describe__item[open] {
    padding-bottom: 8px;
}

.describe__item[open] .icon-close {
    display: block;
}

.describe__item[open] .icon-open {
    display: none;
}

.describe-icon {
    margin-right: 6px;
}

.describe__summary {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
}

.describe__context {
    margin: 0;
    margin-top: 8px;
    padding: 0 16px;
}

.product-detail__anchor {
    text-decoration: none;
    color: var(--color-txt);
}

.product-detail__anchor:hover {
    text-decoration: underline;
}


/* === blog === */
.blog__container {

}

.blog__heading {
    margin: 40px 0;
    color: var(--color-txt);
}

.blog__items {
    grid-template-columns: 1fr;
    gap: var(--vertical-space);
}

.blog__items a {
    text-decoration: none;
}

.blog__item {
    background-color: var(--color-bg);
}

.blog__item:hover .blog__img img {
    transform: scale(1.1);
    transition: all .5s ease;
}

.blog__img {
    overflow: hidden;
}

.blog__img img {
    transition: all .5s ease;
}

.blog__box {

}

.blog__content {
    padding: 24px;
}

.blog__name {
    margin: 0;
    color: var(--color-txt);
}

.blog__date,
.blog__author,
.blog__context {
    margin-top: 4px;
    color: var(--color-txt);
}

/* === start article === */
.article__image {
    max-width: 1300px;
    margin: 0 auto;
}

.article__box {
    max-width: 700px;
    margin: 0 auto;
}

.article__heading {
    margin: 0;
}

.article__date {
    margin-top: 24px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.03em;
}

.article__share {
    margin: 48px 0;
}

.article__context {
    margin: 0;
    margin-top: 16px;
}

.article__container > img {
    margin: 40px 0;
} 

.article__footer {
    margin-top: 50px;
}

.article__footer a {
    color: var(--color-txt);
    text-decoration: none;
    padding: 8px 0;
}

.comment {
    background-color: var(--background-2);
}

.blog__comment {

}

.comment__container {
    margin-bottom: 50px;
}

.comment__heading {
    margin: 0;
    margin-bottom: 20px;
}

.comment__item {
    padding: 20px 25px;
    background-color: var(--color-bg);
    margin-bottom: 15px;
}

.comment__content {
    margin-bottom: 10px;
}

.comment__info {
    text-align: right;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
}

/* === form comment === */
.comment .form__input input {
    margin-bottom: 30px;
    height: 47px;
    border: solid 1px #ccc;
}

.form__input textarea {
    border: solid 1px #ccc;
}

.comment__warning {
    margin: 20px 0 25px;
    font-size: 10px;
    display: inline-block;
    background-color: var(--background-1);
}

.comment__btn {
    background-color: var(--color-txt);
    color: var(--color-bg);
    border: solid 1px var(--color-txt);
}



/* === start product cart === */
.cart__header h1 {
    margin: 0;
}

.cart__header a {
    color: var(--black-text);
}

.cart__heading span {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.cart__heading {
    padding-bottom: 7px;
    box-shadow: inset 0px -1px 0px #E1E3E5;
}

.cart__item {
    margin-top: 40px;
}

.cart__image {
    grid-area: image;
}

.cart__title {
    grid-area: title;
}

.cart__name {
    margin: 0;
    margin-bottom: 7px;
}

.cart__color {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    margin-bottom: 7px;
    color: var(--color-txt);
}

.cart__quantity {
    grid-area: quantity;
    width: 100%;
    max-width: 300px;
} 

.cart__total {
    grid-area: total;
    width: 100%;
    max-width: 90px;
    word-break: break-all;
    text-align: right;
}

.cart__delete {
    margin-left: 9px;
}

.cart__item {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "image title total"
                        "image quantity total";
}

.cart__container {
    padding-bottom: 40px;
}

.cart__content {
    
}

.cart__content .cart__image {
    width: 74px;
    height: 74px;
    margin-right: 26.5px;
}

.cart__footer {
    box-shadow: inset 0 1px #e1e3e5;
    text-align: center;
}

.cart__footer--total {
    padding-top: 24px;
    margin-bottom: 16px;
}

.cart__footer--context {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5;
}

.cart__btn {
    color: var(--color-bg);
    width: 100%;
    border: none;
    max-width: 357px;
    border: solid 1px var(--color-txt);
    background-color: var(--color-txt);
}

/* === page === */

.page__container .container {
    max-width: 700px;
}

.page__container .form__input input {
    margin-bottom: var(--vertical-space);
    height: 47px;
    border: solid 1px #ccc;
}

.page__heading {
    margin: 0;
    margin-bottom: 32px;
}

.comment__btn {
    margin-top: 32px;
    min-width: 106px;
}

